ul-article img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

ul-article {
  border-radius: 2rem;
  padding: 1rem;
  height: calc(100vh - 1.5rem);
  display: grid;
  grid-template-rows: auto max-content;
  gap: 1rem;
  background: linear-gradient(
      to bottom,
      var(--main-color-10),
      var(--main-bg-10),
      var(--main-bg-10)
    ),
    var(--main-bg-90);
  border: 1px solid var(--main-bg-90);
}

ul-article .main {
  stroke: var(--svg-color);
}

ul-article .other {
  fill: var(--main-color);
}
