* {
  box-sizing: border-box;
}

a {
  display: inline-grid;
  font-weight: 500;
  color: var(--main-bg);
  text-decoration: inherit;
  background-color: var(--main-color);
  padding: 2px 3px;
  border-radius: 3px;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
}

html {
  /* scroll-snap-type: y proximity; */
  scroll-snap-type: y mandatory;
}

app {
  max-width: 800px;
  margin: 0 auto;
}

svg {
  filter: drop-shadow(0 0 3rem var(--main-color));
}
