:root {
  --main-bg: hsl(0, 0%, 89%);
  --main-bg-90: hsla(0, 0%, 89%, 0.9);

  --main-color: hsl(230, 28%, 26%);
  --main-color-30: hsla(230, 28%, 26%, 0.3);
  --main-color-60: hsla(230, 28%, 26%, 0.6);

  --svg-color: hsl(0, 0%, 100%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: hsl(0, 0%, 9%);
    --main-bg-90: hsla(0, 0%, 9%, 0.9);

    --main-color: hsl(54, 100%, 50%);
    /* --main-color: #5bd000; */
    /* --main-color: hsl(197, 49%, 77%); */
    --main-color-30: hsla(54, 100%, 50%, 0.3);
    /* --main-color-30: hsla(197, 49%, 77%, 0.3); */
    --main-color-60: hsla(54, 100%, 50%, 0.6);

    --svg-color: hsl(0, 0%, 51%);
  }
}
