:root {
  --main-bg: #e3e3e3;
  --main-color: hsl(230, 28%, 26%);
  --main-color-30: hsla(230, 28%, 26%, 0.3);
  --main-color-60: hsla(230, 28%, 26%, 0.6);
  --service-color: hsl(0deg 0% 0% / 20%);
  --svg-color: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --main-color: #ffe500; */
    /* --main-color: #5bd000; */
    --main-bg: #181818;
    --main-color: hsl(197, 49%, 77%);
    --main-color-30: hsla(197, 49%, 77%, 0.3);
    --main-color-60: hsla(197, 49%, 77%, 0.6);
    --service-color: hsl(0deg 0% 0% / 20%);
    --svg-color: #838383;
  }
}
